#personal {
  width: 100%;
  height: auto;
  margin-top: 30px;
  h2 {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #393939;
    a {
      padding: 0 15px;
      margin-left: 30px;
      background: url("../images/personal/liked-star.png") no-repeat right;
    }
  }
  #info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    #info-photo {
      width: 541px;
      height: auto;
      transition: all .3s ease-out;
      .sp-thumbnails {
        margin-top: 20px;
        width: 764px !important;
        .sp-thumbnail-container {
          margin-right: 24px;
        }
      }
      .sp-horizontal .sp-arrows {
        width: 116%;
        left: -8%;
        top: 117%;
        margin: 0;
      }
      .sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before {
        background-color: #393939;
        width: 10%;
      }
    }
    #info-desc {
      width: 260px;
      height: auto;
      .rating {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        p {
          span {
            padding: 1px 13px;
            background: no-repeat center;
          }
          &:nth-of-type(1) span {
            margin-left: 15px;
            background-image: url("../images/filter/like.png");
          }
          &:nth-of-type(2) span {
            margin-left: 10px;
            background-image: url("../images/sidebar/batery-medium.png");
          }
        }
        a {
          position: relative;
          display: block;
          width: 100%;
          height: 40px;
          padding: 8px 0;
          font-size: 15px;
          text-align: center;
          color: #ffffff;
          background: $color-blue;
          font-weight: 700;
          border-radius: 10px;
          &:before {
            content: '';
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -6px;
            border-right: 9px solid #fff;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
          }
        }
      }
      .social {
        margin: 15px 0;
        border-bottom: 1px solid #e3e3e3;
        p {
          font-size: 15px;
          font-weight: 300;
          margin: 10px 0;
          padding: 0 0 0 30px;
          background: no-repeat left;
          &:first-of-type {
            background-image: url("../images/filter/verify.png");
            background-position: 5px;
          }
          &:last-of-type {
            background-image: url("../images/filter/pro-active.png");
          }
        }
        .social-items {
          margin-bottom: 15px;
        }
      }
      .inform {
        display: flex;
        justify-content: space-between;
        div {
          font-size: 15px;
          font-weight: 300;
          p {
            strong {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .filter-items {
    .filter-item:last-of-type {
      display: none;
    }
    &.sidebar-hide {
      .filter-item:last-of-type {
        display: block;
      }
    }
  }
}